  html {
    box-sizing: border-box;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  body, h1, h2, h3, h4, h5, h6, p, ul, ol{
    margin: 0;
    padding: 0;
  }

  body {
    word-wrap: break-word;
    min-height: 100vh;
  }


  :root {
    font-size: 15px;
    
    --ff: "Inter", sans-serif;
    --primary-dark: #000814;
    --secondary-dark: #001D3D;
    --primary-special-color: #FFC300;
    --primary-light: #eee;
    --secondary-light: #c7c7c7;

    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.25rem;
  }
  
  button {
    background: none;
    cursor: pointer;
    border: none;
  }
  
  .content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
  }

  