  html {
    box-sizing: border-box;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  body, h1, h2, h3, h4, h5, h6, p, ul, ol{
    margin: 0;
    padding: 0;
  }

  body {
    word-wrap: break-word;
    min-height: 100vh;
  }


  :root {
    font-size: 15px;
    
    --ff: "Inter", sans-serif;
    --primary-dark: #000814;
    --secondary-dark: #001D3D;
    --primary-special-color: #FFC300;
    --primary-light: #eee;
    --secondary-light: #c7c7c7;

    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.25rem;
  }
  
  button {
    background: none;
    cursor: pointer;
    border: none;
  }
  
.content {
    display: grid;
    grid-template-columns: 1fr 7fr;
    min-height: 100vh;
  }

.sidebar {
    background-color: var(--primary-dark);
  }

.tasks-container {
    background-color: var(--secondary-dark);
  }

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.nav-item {
  padding: var(--margin-xxs) var(--margin-);
  margin: var(--margin-xxs) var(--margin-xs);
  & button {
    color: white;
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }

  & button:hover {
    background-color: var(--secondary-dark);
  }
}

.button-active {
  background-color: var(--secondary-dark);
}

.button-nav-tasks {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  font-size: 1rem;
}

.completed {
  text-decoration: line-through;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 2px solid var(--primary-special-color);
  margin: var(--margin-xs) var(--margin-xs);
  
  & .btn-projects {
    color: white;
    margin: var(--margin-xxs) var(--margin-xxs);
    font-size: 1.2rem;
    border-radius: 4px;
  }

  & .btn-projects:hover {
    background-color: var(--secondary-dark);
  }
}

.task-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: var(--margin-l) var(--margin-l);
  gap: 8px;
}

.task-item {
  border: 2px solid var(--primary-light);
  display: flex;
  & input {
    align-self: flex-start;
  }
}

.task-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title-btn-container {
  display: flex;
  justify-content: space-between;
}

.task-priority-date {
  margin-top: var(--margin-s);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 60%;
  padding-right: 8px;
}

.task-title {
  font-size: 1.2rem;
}

.title-btn-container {
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
  width: 100%;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 10;
}

#add-task {
  color: var(--primary-special-color);
  font-weight: bolder;
}






  